
body {
    background-color: #247792 !important;
}

h1 , h2, h3 {
    color: white !important;
    text-align: center;
}

h4 {
    color: white !important;
    text-align: left;
}


/* form {
    padding-top: 50px !important;
} */

.container {
    margin-top: 50px !important;
}

.btn-primary {
    background-color: #21ADCC !important;
    border-radius: 50px !important;   
}

.main-app{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.titulo-principal{
    padding-bottom: 1em;
    text-align: center;
}

h3.titulo-secundario{
    padding-bottom: 0.25em;
    text-align: center;
}

.input-espaciado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.botones-espaciados{
    display: flex;
    justify-content: space-between;
}

label {
    color: white !important;
}

.boton-unico{
    padding-top: 1em;
}

.btn-group-positivo{
    background-color: #21ADCC !important;
    color: white !important;
    border-color: black !important; 

}

.btn-group-negativo{
    color: #247792 !important;
    color: white !important;
    border-color: black !important; 
}

.featurette-divider{
    color: white !important;
    border-color: white;
}

.botones-gemelos{
    padding-bottom: 1em;
}


.form-table{
    padding: 1em;
}

.calendario{
font-size: 2em;
padding-left: 1em;
color: white;
}

.boton-fecha{
    justify-items: left;
    padding-bottom: 1em;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginador_lista{
    text-align: right;
    color: white;
}