
body {
    background-color: #247792 !important;
}

h1 {
    color: white !important;
}

form {
    padding-top: 50px !important;
}

.container {
    margin-top: 50px !important;
}

.btn-primary {
    background-color: #21ADCC !important;
    border-radius: 50px !important;   
}

.main-app{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.titulo-principal{
    padding-bottom: 2em;
    text-align: center;
}

.input-espaciado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.botones-espaciados{
    display: flex;
    justify-content: space-between;
}
