<!DOCTYPE html>
<html>
<!---------------------------------------------------------- Page head ------------------------------------------------------->

<head>
    <title>Crece conmigo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="alarma, crece conmigo, desarrollo personal, gestion de tiempo, administracion de recursos, contabilidad, 
        salud, autogestion, bebes">
    <meta name="description"
        content="Esta aplicacion te permite gestionar tus recursos relacionados al crecimiento de tu hijo">
    <meta name="author" content="Luis Cruz Ceballos && Edinson Morales ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://kit.fontawesome.com/61ebb60581.js" crossorigin="anonymous"></script>
</head>

<!---------------------------------------------------------- Page Body ------------------------------------------------------->

<body>
    <!--------------------------------------------------------- Page header ------------------------------------------------------>
    <header>
        <section>

        </section>
    </header>
    <!---------------------------------------------------- section  ---------------------------------------------------->
    <section>
        <div class="container align-middle vh-100 main-app">

            <div class="row ">
                <div class="col-12">
                    <h1 class="titulo-principal"> Gestion de eventos</h1>

                    <div class="input-group col-md-12">
                        <input class="form-control py-2 border-right-0 border" type="search" value="Buscar eventos"
                            id="example-search-input">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <div class="form-table">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" value="tratamiento_001">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" value="consumible_001">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" value="Lorem ipsum">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="featurette-divider">
                    <h3 class="titulo-secundario">Nuevos Registros +</h3>
                    <div class="col-10 offset-1 text-center botones-gemelos">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-group-positivo">Tratamientos</button>
                            <button type="button" class="btn btn-group-negativo">Consumibles</button>
                        </div>
                    </div>
                    <hr class="featurette-divider">
                    <h3 class="titulo-secundario">Secciones</h3>
                    <div class="col-10 offset-1 text-center botones-gemelos">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-group-negativo">Peso y Talla</button>
                            <button type="button" class="btn btn-group-positivo">Contabilidad</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center boton-unico ">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Ver evenntos activos</button>
                </div>


            </div>


        </div>

        </div>
    </section>
    <!---------------------------------------------------- footer section ---------------------------------------------------->
    <footer class="text-center text-lg-start bg-white text-muted ">
        <section>

        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>