<!DOCTYPE html>
<html>
<head>
    <title>Tratamiento</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="alarma, crece conmigo, desarrollo personal, gestion de tiempo, administracion de recursos, contabilidad, 
        salud, autogestion, bebes">
    <meta name="description"
        content="Esta aplicacion te permite gestionar tus recursos relacionados al crecimiento de tu hijo">
    <meta name="author" content="Luis Cruz Ceballos && Edinson Morales ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://kit.fontawesome.com/61ebb60581.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12 text-center">
            <label>
                <h1>Tratamiento</h1>
            </label>
        </div>
        
        <div class="main">
            <div class="form-group">                
                <label>Definir Unidad</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Nombre">   
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-3 form-group">
                <label>Tipo:</label>
            </div>            
            <div class="col-md-3 form-group">
                <select class="form-control">
                    <option>Pastilla</option>                    
                </select>              
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Liquido</option>                    
                </select>  
            </div>
            <div class="col-md-3"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Frecuencia">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Cantidad">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Costo">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Total unidades de tratamiento">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Comienza el tratamiento</label>
            </div>
            <div class="col-md-2 text-right">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option1" checked>dd
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option2">mm
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3">yy
                        </label>
                    </div>
                </div>                
            </div>
            <div class="col-md-3">
                <i class="fa fa-calendar" style="color:white"></i>
            </div>
            <div class="col-md-3"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-3">
                <label>A las:</label>
            </div>
            <div class="col-md-2 text-right">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option1" checked>hh
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option2">mm
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3">ss
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-clock" style="color:white"></i>
            </div>
            <div class="col-md-3"></div>
        </div>

        <br>
        <div class="col-8 offset-2 text-center botones-espaciados">
            <a href="gestion_eventos.html" class="btn btn-primary btn-lg">Cancelar</a>
            <a href="gestion_eventos.html" class="btn btn-primary btn-lg">Guardar</a>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <style>
            .btn-secondary {
                background-color: #247792 !important;
            }

            .active {
                background-color:#21ADCC !important;
            }
        </style>
</body>
</html>